# Data
/data/inputs/*.csv
/data/inputs/*.xls
/data/inputs/*.xlsx
/data/inputs/*.tif
/data/inputs/*.shp

/data/workspace/*.csv
/data/workspace/*.xls
/data/workspace/*.xlsx
/data/workspace/*.tif
/data/workspace/*.shp

/data/final/*.csv
/data/final/*.xls
/data/final/*.xlsx
/data/final/*.tif
/data/final/*.shp

docker/data/

/data/inputs/Admin_fertilizerAdvisoryZone1
/data/inputs/Admin_fertilizerAdvisoryZone1/*.csv
/data/inputs/Admin_fertilizerAdvisoryZone1/*.xls
/data/inputs/Admin_fertilizerAdvisoryZone1/*.xlsx
/data/inputs/Admin_fertilizerAdvisoryZone1/*.tif
/data/inputs/Admin_fertilizerAdvisoryZone1/*.shp

/data/inputs/forecast
/data/inputs/forecast/

# VENV
/webapi