body {
    padding-top: 3rem;
    color: #5a5a5a;
    
}

.font-link {
    font-family: 'EB Garamond', serif;
    color: black;
    
}

.font-link-body {
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 16px;
    text-align: justify;
}
